* {
    box-sizing: border-box;
}

.movie-box {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 1100px;
    margin: 10px;
}
.movie-box:hover {
    background-color: #edede9;
    transition: 0.3s ease-in-out;
}
.movie-box__img{
    width: 300px;
    border: 0;
}
.movie-box__title {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    padding-left: 10px;
}
.movie-box__title a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.movie-box__title a:hover {
    color: #000000; /* 마우스 오버 시 색상 */
}


.movie-box__summary {
    width: 600px;
    overflow-y: auto; /* 수직 스크롤 활성화 */
    padding: 10px; /* padding을 주어 가독성 향상 */
    border-bottom: 1px solid #ccc; /* 시각적 구분을 위한 테두리 */
}
.movie-box__genres {
    width: 200px;
}