.movie {
    width: 400px;
    height: 70%;
    margin: 15px;
    background-color: #b7d5cb;
    transition: transform 0.3s ease;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie:hover {
    transform: translateY(-20px);
}
.movie__img {

}
.movie__title {
    font-weight: bold;
    margin: 10px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.movie__title:hover {
    color: #fefefe;
}
.movie__year {
    
}
.movie__summary {
    padding: 10px;
    font-size: 15px;
    line-height: 1.2;
}
.movie__genres {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 200px;
    margin-top: auto;
    margin-bottom: 20px;
}








